<a href="https://colab.research.google.com/github/maggiecope/comp351-ai-project/blob/main/Comp351FinalProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# STEP 1: Import libraries and load the data

import pandas as pd
import numpy as np

# Load the dataset
file_path = "Wait_Times.csv"
df = pd.read_csv(file_path)

# Inspect basic structure
print("Shape:", df.shape)
print("\nColumn types:")
print(df.dtypes)

# Preview first 5 rows
df.head()

Shape: (339064, 26)

Column types:
Land                 object
Ride                 object
Wait Time             int64
Local Time           object
Day of Week          object
Date                 object
tempmax             float64
tempmin             float64
temp                float64
humidity            float64
precip              float64
windgust            float64
windspeed           float64
winddir             float64
sealevelpressure    float64
cloudcover          float64
visibility          float64
solarradiation      float64
solarenergy         float64
uvindex               int64
severerisk            int64
sunrise              object
sunset               object
moonphase           float64
conditions           object
description          object
dtype: object

,Land,Ride,Wait Time,Local Time,Day of Week,Date,tempmax,tempmin,temp,humidity,...,visibility,solarradiation,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description
0,Pixar Pier,Toy Story Midway Mania!,40,2024-09-23 17:30:04,Monday,2024-09-23,78.4,62.4,67.9,80.5,...,5.6,210.0,18.0,8,10,2024-09-23 6:40:56,2024-09-23 18:46:15,0.69,Partially cloudy,Clearing in the afternoon.
1,Cars Land,Mater's Graveyard JamBOOree,30,2024-09-23 17:45:03,Monday,2024-09-23,78.4,62.4,67.9,80.5,...,5.6,210.0,18.0,8,10,2024-09-23 6:40:56,2024-09-23 18:46:15,0.69,Partially cloudy,Clearing in the afternoon.
2,Hollywood Land,Mickey's PhilharMagic,10,2024-09-23 17:45:03,Monday,2024-09-23,78.4,62.4,67.9,80.5,...,5.6,210.0,18.0,8,10,2024-09-23 6:40:56,2024-09-23 18:46:15,0.69,Partially cloudy,Clearing in the afternoon.
3,Pixar Pier,Jumpin' Jellyfish,20,2024-09-23 17:45:03,Monday,2024-09-23,78.4,62.4,67.9,80.5,...,5.6,210.0,18.0,8,10,2024-09-23 6:40:56,2024-09-23 18:46:15,0.69,Partially cloudy,Clearing in the afternoon.
4,Avengers Campus,WEB SLINGERS: A Spider-Man Adventure,45,2024-09-23 18:00:04,Monday,2024-09-23,78.4,62.4,67.9,80.5,...,5.6,210.0,18.0,8,10,2024-09-23 6:40:56,2024-09-23 18:46:15,0.69,Partially cloudy,Clearing in the afternoon.

In [3]:
# STEP 2: Clean and Convert date/time fields 

# convert main timestamp fields into datetime object 

df["Date"] = pd.to_datetime(df["Date"], errors="coerce")
df["Local Time"] = pd.to_datetime(df["Local Time"], errors="coerce")

# Convert sunrise and sunset timestamps
df["sunrise"] = pd.to_datetime(df["sunrise"], errors="coerce")
df["sunset"] = pd.to_datetime(df["sunset"], errors="coerce")

# Preview the converted fields
df[["Date", "Local Time", "sunrise", "sunset"]].head()

        Date          Local Time             sunrise              sunset
0 2024-09-23 2024-09-23 17:30:04 2024-09-23 06:40:56 2024-09-23 18:46:15
1 2024-09-23 2024-09-23 17:45:03 2024-09-23 06:40:56 2024-09-23 18:46:15
2 2024-09-23 2024-09-23 17:45:03 2024-09-23 06:40:56 2024-09-23 18:46:15
3 2024-09-23 2024-09-23 17:45:03 2024-09-23 06:40:56 2024-09-23 18:46:15
4 2024-09-23 2024-09-23 18:00:04 2024-09-23 06:40:56 2024-09-23 18:46:15

In [ ]:
# STEP 3: Feature Engineering 

#Extract hour and minute from Local Time 
df["hour"] = df["Local Time"].dt.hour
df["minute"] = df["Local Time"].dt.minute

# Combine into a simpler numeric of time 
df["time_in_minutes"] = df["hour"] * 60 + df["minute"]

# Convert date to numeric signals 
df["day_of_week_num"] = df["Date"].dt.weekday
df["day_of_year"] = df["Date"].dt.dayofyear
df["month"] = df["Date"].dt.month

# Preview
df[["hour", "minute", "time_in_minutes", "day_of_week_num", "day_of_year", "month"]].head()

   hour  minute  time_in_minutes  day_of_week_num  day_of_year  month
0    17      30             1050                0          267      9
1    17      45             1065                0          267      9
2    17      45             1065                0          267      9
3    17      45             1065                0          267      9
4    18       0             1080                0          267      9